<!-- PARTIAL _new.html.erb -->
<h3>create new link </h3>
<%= form_for(@link) do |f| %>
		<%= f.label :url, "Type URL" %>
		<%= f.text_field :url, placeholder: "Type URL for example: www.google.com" %>
		<%= f.submit "Generate" %>
	<% end %>