List links history

<div>
	<table>
		<tr>
			<th>Original Link</th>
			<th>Random Generated URL</th>
		</tr>
		<% @links.each	do |link| %>
			<tr>
				<td><%= link.url %></td> 
				<td><%= link.random_string %></td>
			</tr>
		<% end %>
	</table>
</div>