<!-- HOME PAGE
displays: 
	new link form
	history of links -->

<h1>Welcome to Ritly's</h1>
<h5>Believe it or not</h5>
<h1>Link Shortener</h1>

<div>
	<%= render "new" %>
</div>

<br>

<div>
	<table>
		<tr>
			<th>Original Link</th>
			<th>Random Generated URL</th>
		</tr>
		<% @links.each	do |link| %>
			<tr>
				<td><%= link.url %></td> 
				<td><%= link.random_string %></td>
			</tr>
		<% end %>
	</table>
</div>