<h1>Congrats!</h1>

<div>
	<p>Your new url for <%= @link.url %> 
	
	will now be...

	<%= link_to "localhost:3000/go/" + @link.random_string, :redirect %> </p>
</div>
<div>
	<h4> See
		<%= link_to "Link Stats", :preview %>
	</h4>
	<h4> Create
		<%= link_to "New Link", :new_link %> 
	</h4> 
</div>
